<section data-ng-controller="editor as vm" class="tall">
   <!-- <div class="container-fluid tall">
        <div class="row tall">
            <div class="col-md-4 tall solid-sidebar">                    
                <div class="editorContainer">
                    <a href="#"><i class="fa fa-arrow-circle-o-left"></i></a>
                    <textarea name="" class="ABCInputBox" id="textInput" rows="20" ng-model="name" placeholder="Write a cool tune.."></textarea>
                    <div class="toolbox">
                        <label>Shift Semitones: </label>
                        <input type="number" ng-model="vm.woop" ng-change="vm.shiftChanged()" value="0" />
                    </div>
                </div>
            </div>
            <div class="col-md-8"> -->
                <div class="manuscript">
                    <h1>Untitled Tune</h1>
                    <pre>{{newValue}}</pre> 
                </div> <!--                                    
            </div>
        </div>
    </div>
</section>-->