.column { 
    &.half {
        width: 50%;
    }   
    &.third {
        width: 33.33333333%;
    }
    &.two-thirds {
        width: 66.66666667%
    }
 }

.container {
    display: flex;
    flex-direction: column; 
    .editor {
        flex-direction: row;
    }
}

.text-area-padding {
    padding: 0px 50px 0px 30px;
}

.header.row {
    padding-left: 35px;
}

.canvas {
    background-color: white;
    min-height: 320px;
    padding: 20px;
    border: gray solid 1px;
}