@import '../vendor/toastr/toastr.scss';

@import 'variables';

@import '../vendor/font-awesome/scss/font-awesome.scss';

@import 'layout';

@import 'colors';


body {    
    font-family: sans-serif;
    margin: 0;
    color: $color_text;
    &.image {
        background-image: url('/styles/images/background.png');
    }    
}

#abc {
    width: 100%;
    height: 90%;
    font-family: 'Inconsolata', sans-serif;
    font-size: large;
    margin: 8px;
    padding: 8px;
    border: 0;
    resize: none;
    background-color: transparent;
    outline: none;
    min-height: 320px;
    margin-top: 12px;
}

h1, h2, h3, h4 {
    font-family: 'Inconsolata', sans-serif;
}

.grow-on-hover {
    cursor: pointer;
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.42) 6px 6px;
        transform: scale(1.02);
    }
}

.item-list {
    list-style: none;
    padding: 0;
    li {
        padding: 10px;
        &:last-child {
            border-bottom: 0;
        }
        border-bottom: #CCC solid 1px;
        cursor: pointer;
        &:hover {
            background-color: #CCC;
        }
        small {
            color: $color_text_secondary;
        }
    }
}

.tile-button {
    border: $color_light solid 1px;
    width: 160px;
    padding: 10px;
    height: 180px;
    cursor: pointer;
   // box-shadow: rgba(0, 0, 0, 0.32) 4px 4px;
    h4 {
        margin: 0;
    }
}

.tile-button-container {
    padding: 20px;
}

.flat-button {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    &:hover {  
        background-color: rgba(0,0,0,0.1);
    }
    p {
        margin: 0;
    }
}

#search-box {
    background-color: white;
    border: gray solid 1px;
    border-radius: 3px;
    padding: 8px;
    input {
        width: 92%;
        border: 0;
        font-size: 16px;
        outline: none;
    }
    i {
        width: 4%;
    }
}

#shading {
    background-color: $color_light;
    min-height: 100%;    
    position: fixed;
    z-index: -10;
    width: 25%;
    box-shadow: rgb(185, 185, 185) 0px 0px 1px 1px;
}

.google-button {
    background-color: rgb(201, 0, 0);
    padding: 8px;
    border-radius: 4px;
    border: black solid 1px;
    color: white;
    text-decoration: none;
    &:hover {
        background-color: rgb(101, 0, 0);
    }
}

.user-box {
    float: right;
    padding: 10px;
    padding-right: 50px;
}