<div data-ng-controller="shell as vm" class="tall">
    <div class="container tall">
        <div class="leftCol tall" id="sideBar">
            <div class="solid-sidebar tall" data-ng-include="vm.sideBarContent">                
            </div>
        </div>
        <div class="rightCol">
            <div id="searchHeaderContainer">
                <div class="searchHeader" id="searchHeader">
                    <input type="search" class="form-control" placeholder="Search for a tune..">
                    <i class="fa fa-search"></i>
                </div>
            </div>
            <div ng-view class="shuffle-animation tall"></div>
        </div>
    </div>
</div>