<div class="user-box">
	{{#if loggedIn === false }}
	<button class="google-button" on-click="log_in"><div class="left"><i class="fa fa-google-plus"></i></div><div class="right">Sign in with Google+</div></button>
	{{else}}
	<div class="logged-in-user-box">
		<div class="left">
			<span on-click="goto_account">Hi {{user.name}}</span>
			<a href="/logout">Log out</a>
		</div>
		<div class="right">
			<img on-click="goto_account" class="user-picture" src="{{user.picture}}" />
		</div>
	</div>	
	{{/if}}
</div>