@import 'variables';

.header.row {
    //background-color: $color_primary;
    color: $color_text;
    //border-bottom: rgb(190, 190, 190) solid 1px;
} 

.row.toolbar {
      border-bottom: rgb(190, 190, 190) solid 1px;
}

.column.third {
    background-color: white;
    border-right: rgb(190, 190, 190) solid 1px;
    color: $color_text;
}

#view-viewer {
	#canvas {
		background-color: white;
	}
}

.tune-list-item.selected {
  background-color: chocolate;
    &:hover {
        background-color: red;
    }
} 

.set-box {
    min-height: 64px;
    border: 1px solid grey;
    background-color: rgb(240, 248, 255);
}