html, body, .container, .page-view { 
    height:100vh;
}

.page-view {
    display:flex;
    flex-direction: column;
}

.text-area-padding {
    padding: 0px 50px 0px 30px;
}

.row {
    &.header {        
        h1, h3 {
            display:inline;
        }
        flex: 0 0 64px;
        display: flex;
        flex-direction: row;
        
        &.coloured {
            background-color: $color_primary;
            color: white; 
        }
        
        .back-button {
            flex: 0 0 40px;
            color: white;
            background-color: $color_primary;
            cursor: pointer;
            text-align: center;
            vertical-align: middle;
            p {
                padding-top: 5px;
            }
        }
        .user-box {
            flex: 0 0 128px;
        }
        .central-menu {
            flex: 1;
            padding: 10px;
        }
    }

    &.toolbar {
        background-color: $color_light;
        height: 32px;
        flex: 1;
        flex: 0 0 32px;
    }
    
    &.editor {
        display: flex;
        flex-direction: row; 
        background-color: $color_light;
        flex: 1;
        .column {
            &.third {
                flex: 1;
            }
            &.two-thirds {
                flex: 2;
            }
            &.quarter {
                flex: 1;
            }
            &.three-quarters {
                flex: 3;
            }
        }

        &.viewer {
            text-align: center;
        }
    }
}

#canvas {
    padding: 20px;
    position: absolute;
    top: 98px;
    bottom: 0px;
    left: 30%;
    right: 0px;
    text-align: center;
    //flex-direction: column;
    //display:flex;
    //svg {
    //    flex: 1;
    //}
}

#view-viewer {
    #canvas {
        left: 0;
    }
}

#task-pane {
    background-color: white;
}

.toolbar-button-group {
    padding: 8px;
    a {
        padding: 4px;
        border: 1px black solid;
        border-radius: 2px;
        color: rgb(52, 52, 52);
        cursor: pointer;
        background-color: rgb(200, 200, 200);
        text-decoration: none;
        &:hover {
            background-color: rgb(223, 223, 223);
        }
    }
}

.header {
    &.tune-info {
        margin: 0 auto 0 auto;
        z-index: 10;
    }
}

.app-name {
    margin: 8px 0 0 10px;
    h1 {
        margin-right: 10px;
    }
}