html, body, .container, .page-view { 
    height:100vh;
}

.page-view {
    display:flex;
    flex-direction: column;
}

.text-area-padding {
    padding: 0px 50px 0px 30px;
}

.row {
    &.header {        
        h1, h3 {
            display:inline;
        }
        flex: 0 0 64px;
        display: flex;
        flex-direction: row;
        
        &.coloured {
            background-color: $color_primary;
            color: white; 
        }
        
        .back-button {
            flex: 0 0 40px;
            color: white;
            background-color: $color_primary;
            cursor: pointer;
            text-align: center;
            vertical-align: middle;
            p {
                padding-top: 5px;
            }
        }
        .user-box {
            flex: 0 0 180px;            
            .logged-in-user-box {
                display: flex;
                flex-direction: row;
                .left {
                    flex: 1;
                }
                .right {
                    flex: 1;
                }
            }
        }
        .central-menu {
            flex: 1;
            padding: 10px;
        }
    }

    &.toolbar {
        background-color: #A2BFD2;//$color_light;
        height: 32px;
        flex: 1;
        flex: 0 0 32px;
    }
    
    &.editor {
        display: flex;
        flex-direction: row; 
        background-color: white;
        padding-top: 10px;
        flex: 4;
        .column {
            &.third {
                flex: 1;
            }
            &.two-thirds {
                flex: 2;
            }
            &.quarter {
                flex: 1;
            }
            &.three-quarters {
                flex: 3;
            }
        }

        &.viewer {
            text-align: center;
        }
    }
}

.column.half {
    flex: 1;
}

#canvas {
    /*padding: 20px;
    position: absolute;
    top: 98px;
    bottom: 0px;
    left: 30%;
    right: 0px;
    text-align: center;
    display: flex;*/

    text-align: center;
  /* display: flex; */
    width: 100%;
    //flex-direction: column;
    //display:flex;
    //svg {
    //    flex: 1;
    //}
    overflow-y: scroll;
}

#view-viewer {
    #canvas {
        left: 0;
    }
}

#task-pane {
    background-color: white;
    display: flex;
}

.scroll-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.toolbar-button-group {
    padding: 8px;
    a {
        padding: 4px;
        border: 1px black solid;
        border-radius: 2px;
        color: rgb(52, 52, 52);
        cursor: pointer;
        background-color: rgb(200, 200, 200);
        text-decoration: none;
        &:hover {
            background-color: rgb(223, 223, 223);
        }
    }
}

.header {
    &.tune-info {
        margin: 0 auto 0 auto;
        z-index: 10;
    }
}

.app-name {
    margin: 8px 0 0 10px;
    h1 {
        margin-right: 10px;
    }
}

.search-options-bar {    
    padding: 12px;
    margin: 8px 0px 8px 0px;
    background-color: lightgrey;
}

.search-option {
    display: inline-block;
    margin-left: 16px;
}

.render-div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.abc-editor {
    flex: 3;
    display: flex;
    flex-direction: column;
      height: 100%;
    .CodeMirror {
        font-size: larger;
    }
}

.abc-log {
    flex: 1;
    overflow-y: scroll;
    padding: 10px;
    table {
        width: 100%;
        thead {
            background-color: white;
        }
        th {
            padding: 4px;            
        }
        td {
            padding: 4px;
            background-color: gray;
        }
        .centered-column {
            text-align: center;
        }
    }
}

.all-is-well-box {
    color: green;
    font-weight: 700;
    padding-left: 20px;
}

.viewer-area {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.tune-information-card {
    flex: 1;
    padding: 20px;
    background-color: rgb(239, 239, 239);

    .card {
          h1 {
              font-size:2rem;
              font-weight:200;
              margin-top: 0;
              margin-bottom: 0;
            }
              strong {
                font-weight:300;
                color:#539D00;
              }

            h2 {
                margin-top: 0;
              font-size:.9rem;
              line-height:2.5;
              color:gray;
              font-weight:400;
            }
    }
}

.card {
    padding:1.5rem;
    box-shadow:0 1px 2px #aaa;
    background:white;
    margin:0 1rem 1rem;
    border-radius:3px;
}

#view-editor {
    #canvas {
        margin-left: 30%;
    }    
}

#editor-section {
    background-color: $color_light;
}

.chord-suggest-box {
    flex: 1;
    background-color: rgb(219, 219, 219);
    h2 {
        font-size: larger;
    }
    padding: 10px;
}

.cm-barline {
    font-weight: 700;
}

.cm-header-indicator {
    color: #164;
}

.cm-note-length {
    color: rgb(159, 152, 174);
}

.cm-header-text {
    color: rgb(187, 136, 24);
}

.cm-backtick {
    color: rgb(187, 136, 24);
}

#view-home {
    .row {
        display: flex;
        .column.quarter {
            flex: 1;
              background-color: rgb(229, 252, 255);
        }
        .column.three-quarters {
            flex: 3;
        }
    }
}

.toolbar-item {
    padding: 6px;
      float: left;
}



@mixin noselect() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.table-to-dropdown {
    @include noselect();
    z-index: 1000;
  position: absolute;
  border: gray 1px solid;
  box-shadow: 1px 1px 10px 0px rgba(46,46,46,1);
  background-color: white;
  padding: 10px;
  width: 240px;  
border-collapse: collapse;

  
    .dropdown-icon {
    text-align: center;
  }
  tr {
    &:hover {
        background-color: rgb(207, 230, 240);
    }
    cursor: pointer;
    td {
        padding: 10px;        
    }
    padding-left: 30px;
    
  }
}

.dropdown-selected-value {    
    @include noselect();
    cursor: pointer;

    background-color: white;  
    width: 180px; 
      height: 21px;
    span.selected-span {
        padding: 3px;
        line-height: 21px;
    }
    span.arrow-span {
          font-size: small;
        float: right;
          background-color: rgb(215, 215, 215);
          width: 14px;
          color: black;
          text-align: center;
          padding: 3px;
    }
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
 
.item-list {
    h3 {
        margin: 0;
        padding: 0;
    }
    @include noselect();
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
}

#tunebook-editor-pane {
    display:flex;
    flex-direction: column;
      background-color: rgb(223, 223, 223);
    .tunebook-settings {
        text-align: center;
        flex: 0 64px;
        border-bottom: 1px lightgray solid;
    }
    .tunebook-tunes {
        flex: 1;
        overflow-y: auto;
    }
    .tunebook-footer {
        flex: 0 48px;
        border-top: 1px lightgray solid;
    }
}

.page-title {
    position: absolute;
    left: 40%;
    right: 40%;
    text-align: center;
    line-height: 64px;
    font-size: larger;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.tunebook-card-full {
    flex: 1;
    margin-top: 1rem;
}

#search-box {
    flex: 0 20px;
}

.scrollable {
    flex: 1;
      overflow-y: scroll;
}

.tune-list {
    flex: 1;
}

#view-tunebook {
    .row.editor {
        padding-top: 0px;
    }
}

.footer-buttons {
    padding: 14px;
   float: right;
}

.footer-stats {
   padding: 14px;
   float: left;
}

input.title-box {
    border: 0;
    text-align: center;
    font-family: "futura-pt";
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
}

#search-options-box {
    flex: 0 128px;
    background-color: lightgrey;
}

.set-box-header {
    flex: 0 32px;
}

.set-box-body {
    flex: 1;
    background-color: white;
    border: grey 1px solid;
}

.tune-list-item {
    .tune-info {
        float: left;
    }

    .tune-buttons {
        float: right;
    }
}

.icon-button-panel.compact i {
    font-size: 14pt;
    margin: 0px;
}

.key-letter-selection-table {
    table-layout: fixed;
    td {
        @include noselect();
        width: 24px;
        height: 24px;
        text-align: center;
        background-color: white;
        border-radius: 4px;
        padding: 2px;
        cursor: pointer;
        &.on {
            background-color: #83ACEC;
            font-weight: 700;
        }
    }
}

.key-mode-selection-table {
    table-layout: fixed;
    margin-top: 28px;
    td {
        @include noselect();
        width: 90px;
        height: 24px;
        text-align: center;
        background-color: white;
        border-radius: 4px;
        padding: 2px;
        cursor: pointer;
        &.on {
            background-color: #83ACEC;
            font-weight: 700;
        }
    } 
}

.key-selector-value {
    @include noselect();
    background: rgb(236, 236, 236);
    padding: 4px 10px 4px 10px;
    border-radius: 2px;
    cursor: pointer;
}

.key-selector-popup {
    background-color: rgb(237, 237, 237);
  padding: 10px;
  border: grey 1px solid;
  z-index: 100;
  position: absolute;
}

.span-button-container {
    margin: 10px 0 10px 0;
    span {
        cursor: pointer;
        margin: 4px;
        padding: 4px 8px;
        background-color: rgb(207, 207, 207);
        border-radius: 4px;
    }
}


.key-selector-popup-top-left {
    float: left;
}

.key-selector-popup-top-right {
    float: right;
}