@import '../../node_modules/toastr/toastr.scss';

@import 'variables';

@import '../../node_modules/font-awesome/scss/font-awesome.scss';

@import '../codemirror/codemirror.scss';
@import '../codemirror/codemirror_lint.scss';

@import 'layout';

@import 'colors'; 

body {    
    font-family: sans-serif;
    margin: 0;
    color: $color_text;
    &.image {
        background-image: url('/styles/images/background.png');
    }    
} 

dialog {
    z-index: 10000;
}

#abc-container {
    box-shadow: 0 1px 2px #747474;
  z-index: 400;

    display: flex;
    flex-direction: column;
    //padding: 20px;
    position: absolute;
    top: 34px;
    bottom: 0px;
    left: 0px;
    width: 30%;
    background-color: rgb(182, 182, 182);
    .CodeMirror {
        //height: 100%;
        //font-size: 13pt;
        //font-family: Courier New;
    } 
}

#abc {
    font-family: Courier New;
    font-size: large;
    border: 0;
    resize: none; 
    background-color: transparent;
    outline: none;
    flex: 1;
}

h1, h2, h3, h4 {
    font-family: 'Inconsolata', sans-serif;
}

.item-list {
    list-style: none;
    padding: 0;
    padding-top: 8px;

    li {
        &:last-child {
            border-bottom: 0;
        }
        cursor: pointer;
        &:hover {
            background-color: #CCC;
        }
        small {
            color: $color_text_secondary;
        }
    }
}

.tile-button {
    //border: $color_light solid 1px;
    width: 100%;
    padding: 10px;
    background-color: $color_highlight;
    color: white;
    //height: 180px;
    cursor: pointer;
    margin-top: 8px;
   // box-shadow: rgba(0, 0, 0, 0.32) 4px 4px;
    h4 {
        margin: 0;
        font-weight: lighter;
    }
}

.tile-button-container {
    padding: 0 20px 0 20px;
}

.flat-button {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    &:hover {  
        background-color: rgba(0,0,0,0.1);
    }
    p {
        margin: 0;
    }
}

#search-box {
    background-color: white;
    padding: 8px;
    //line-height: 64px;
    //border-bottom: rgb(186, 186, 186) solid 1px;
    input {
        width: 92%;
        border: 0;
        font-size: 2rem;
        outline: none;
        color: rgba(0, 0, 0, 0.8);
    }
    i {
      font-size: 2rem;
      margin: 0 8px 0 10px;
      color: rgb(73, 73, 73);
    }
}

.google-button {
    background-color: #dd4b39;
    border-radius: 4px;
    border: rgb(155, 105, 105) solid 1px;
    color: white;
    text-decoration: none;
    width: 164px;
    font-size: 12px;
    cursor: pointer;
    &:hover {
        background-color: rgb(101, 0, 0);
    }
    .left {
        display: inline;
        i {
            padding: 8px;
            font-size: large;
        }
    }    
    .right {
        display: inline;
    } 
}

.user-box {
    float: right;
    padding: 10px 0px 10px 0px;
}

.tune-title {
    font-style: italic;
}

.loading-page {
    .spinner {
      margin: 100px auto;
      width: 50px;
      height: 30px;
      text-align: center;
      font-size: 10px;
    }

    .spinner > div {
      background-color: #333;
      height: 100%;
      width: 6px;
      display: inline-block;
      
      -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
      animation: stretchdelay 1.2s infinite ease-in-out;
    }

    .spinner .rect2 {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s;
    }

    .spinner .rect3 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }

    .spinner .rect4 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }

    .spinner .rect5 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s;
    }

    @-webkit-keyframes stretchdelay {
      0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
      20% { -webkit-transform: scaleY(1.0) }
    }

    @keyframes stretchdelay {
      0%, 40%, 100% { 
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
      }  20% { 
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
      }
    }
}

.user-picture {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
}

.styled-background {
  color: red;
  font-weight: 700;
}

.error-not-drawn {
    color: rgb(207, 85, 85);
}

.error-markers {
    width: 16px;
}

.abc-tune-rhythm {
    font-style: italic;
}

h1, h2, h3, h4 {
    font-family: "futura-pt";
}

p {
    font-family: "ff-basic-gothic-web-pro";
}

.icon-button-panel {
    i {
        cursor: pointer;
        color: gray;
        font-size: 18pt;
        margin:8px;
        &:hover {
            color: orange;
        }
    }
}

.app-logo {
    cursor: pointer;
}

.splashscreen {
    background-color: $color_primary;
      font-size: 18pt;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    color: white;
    right: 0;
    img {
        position: absolute;
        top: 40%;
        right: 50%;
        left:50%;
        margin-left: -148px;
        margin-top: -64px;
    }

    .spinners {
        position: absolute;
        left: 50%;
        margin-left: -38px;
        top: 48%;
    }
}

.icon-spin-reverse {
  display: inline-block;
  -moz-animation: spin-reverse 2s infinite linear;
  -o-animation: spin-reverse 2s infinite linear;
  -webkit-animation: spin-reverse 2s infinite linear;
  animation: spin-reverse 2s infinite linear;
}

@-moz-keyframes spin-reverse {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(-359deg); }
}
@-webkit-keyframes spin-reverse {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(-359deg); }
}
@-o-keyframes spin-reverse {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(-359deg); }
}
@-ms-keyframes spin-reverse {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(-359deg); }
}
@keyframes spin-reverse {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-359deg); }
}

//for highlighting notes?
.selected-note {
  fill: rgb(211, 104, 14);//rgb(255,0,0);  
  transition: fill .5s ease-in-out;
}

.noteHead {
  transition: fill .1s ease-in-out;
}

.stats {
  flex: 0 24px;
  padding-left: 16px;
  background-color: rgb(84, 84, 84);
  color: white;
  font-weight: bold;
  line-height: 24px;
  font-family: monospace;
}